body {
    background-image: url("../images/bataille.png");
}

h1 {
    background-color: white;
}

h2 {
    background-color: white;
}

h3 {
    background-color: white;
}

div.md-content {
    background-color: white;
}

div.md-sidebar {
    background-color: #e6e8d8;
}

div.md-sidebar__scrollwrap {
    background-color: #e6e8d8;
}

button {
    font-size:16px;
    border-radius: 4px;
    font-weight: bold;
    background:#fa5c5c;
    color:white;
    padding:10px;
}

button.hover {
    background:#c95a49;
}

div.md-typeset__table thead {
    background: #546d78;
    color: white;
}

