body {
    background-image: url("../images/bataille.png");
}

h1 {
    background-color: white;
}

h2 {
    background-color: white;
}

h3 {
    background-color: white;
}

div.md-content {
    background-color: white;
}

div.md-sidebar {
    background-color: #e6e8d8;
//    background-color: #546d78;
//    background-color: white;
//background-color: #03222f;
//color: yellow;
}

div.md-sidebar__scrollwrap {
    background-color: #e6e8d8;
// background-color: #546d99;
//    background-color: #ffffdd;
//background-color: #03222f;
//color: yellow;
}

button {
    font-size:16px;
    border-radius: 4px;
    font-weight: bold;
    background:#fa5c5c;
    color:white;
    padding:10px
}

button.hover {
    background:#c95a49;
}
